body {
  margin-top: 30px;
  width: 100vw;
  height: 100vh;
}

.container {
  border: 1px solid;
  margin: auto;
  width: 800px;
  height: 350px;
}

.sender {
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.stamp img {
  width: 100px;
  height: 125px;
}

.recipient {
  display: flex;
  justify-content: center;
}
